
@import "../node_modules/reset-css/sass/_reset.scss";
//@import "../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
//@import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../node_modules/@fortawesome/fontawesome-free/css/all.css";

html, body {
  height: 100%;
}

@font-face {
  font-family: firaSans;
  src: url(../node_modules/typeface-fira-sans/files/fira-sans-latin-100.woff);
}

@font-face {
  font-family: firaCode;
  src: url(../node_modules/firacode/distr/woff/FiraCode-Medium.woff);
}

body {
  background-color: #EEE;
  font-family: firaCode, sans-serif;
  font-variant-ligatures: common-ligatures;
  color: black;
  font-size: large;
}

main {
  background-color: #FFFFFF;
  margin: 0 auto;
  min-width: 600px;
  max-width: 1200px;
  min-height: 100%;
  padding: 1em;
}

nav.search {

}

h1 {
  font-size: 200%;
}
