@import "../node_modules/reset-css/sass/_reset.scss";
//@import "../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
//@import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../node_modules/@fortawesome/fontawesome-free/css/all.css";

html, body {
  height: 100%;
}

@font-face {
  font-family: firaSans;
  src: url(../node_modules/typeface-fira-sans/files/fira-sans-latin-100.woff);
}

@font-face {
  font-family: firaCode;
  src: url(../node_modules/firacode/distr/woff/FiraCode-Medium.woff);
}

body {
  background-color: #EEE;
  font-family: firaCode, sans-serif;
  font-variant-ligatures: common-ligatures;
  color: black;
  font-size: large;
}

main {
  background-color: #FFFFFF;
  margin: 0 auto;
  min-width: 600px;
  max-width: 1200px;
  min-height: 100%;
  padding: 1em;
}

nav#search {
  margin: 1em 0;

  form {
    position: relative;
    width: 100%;
    background-color: pink;

    input {
      box-sizing: border-box;
      margin-right: 3em;
      width: 100%;
      font-size: 150%;
      height: 2em;
    }

    button {
      position: absolute;
      width: 3em;
      height: 2em;
      top: 0;
      right: 0;
      font-size: 150%;
    }
  }
}

h1 {
  font-size: 200%;
}
